.group2-style-1 {
    background-image: linear-gradient(-147deg, rgb(0, 0, 0), rgb(169, 88, 216));

    /* background-image: radial-gradient(circle, rgb(177, 239, 255), rgb(88, 169, 216)); */
    top: 0px;
    margin: 0;
    bottom: 0;
    height: 900px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
    display: block;
    text-align: center;
    overflow: hidden;

}



.group2-style-1 .boxgroup {


    background: none;
    position: relative;


}

.group2-style-1 .boxgroup img {
    opacity: 0.5;
    top: 0px;
    width: 100%;
    height: 900px;
    z-index: -1;
    position: absolute;
    left: 0px;

}



.group2-style-1 .boxgroup-boxcenter {
    color: whitesmoke;
    margin-top: 10% !important;
    width: 100%;
    height: 500px;
    padding-top: 2%;
    background-image: linear-gradient(-147deg, rgb(0, 91, 133), rgb(130, 9, 211));
    position: absolute;
    clip-path: polygon(90% 0, 100% 49%, 90% 100%, 10% 100%, 0% 50%, 10% 0);
    animation-name: GROUP2-BOX;
    animation-duration: 1.5s;
    animation-delay: none;

    display: none;

    animation: GROUP2-BOX-skew 1.5s;

}

.group2-style-1 .boxgroup-boxcenter .Jdl {
    text-align: center !important;
    font-family: 'galaxy';
    margin-top: -10px;
    position: center;
    font-size: 100px;
    color: white;
    top: 0px;
    animation-name: GROUP2-BOX;
    animation-duration: 2s;
    animation-delay: none;

    text-shadow: 0px 10px 0px rgb(56, 9, 83);
}


.group2-style-1 .boxgroup-boxcenter-box {
    background: rgba(0, 0, 0, 0.301);
    height: 300px;
    width: 80%;
    position: relative;
    margin-left: 10%;
    overflow: hidden;

    animation-name: GROUP2-BOX;
    animation-duration:2s;
    animation-delay: none;

}






.boxshadow-shadow {
    padding: 2%;
    opacity: 2;
    background: rgba(37, 37, 37, 0.377);
    border-radius: 12px;

    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);


}

.boxabout {
    margin: 0px;

    /* background-image: radial-gradient(circle, rgb(177, 239, 255), rgb(88, 169, 216)); */
    text-align: justify;
    font-family: 'fontwrite1';
    color: rgb(255, 255, 255);
    font-size: 20PX;
    position: relative;
    word-wrap: break-word;
    font-style: italic;
}