.btnnav {
display: none;
    height: 220px;
    width: 220px;
    background-image: linear-gradient(-147deg, rgb(0, 225, 255), rgb(39, 174, 192));
    position: fixed;
    max-width: 100%;
    top: 50%;
    left: -160px;
    margin: auto;
    z-index: 4;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 100%;
    border: none;
    text-decoration: none;
    /* margin: auto; */
    outline: none !important;
    text-align: center;
    animation-name: btnav;
    animation-duration: 1s;
    box-shadow: 0px 0px 20px 0px rgb(0, 183, 255);

}




.btnnav:hover {


    background-image: linear-gradient(-147deg, rgb(0, 235, 252), rgb(39, 192, 184));

    box-shadow: 0px 0px 40px 0px rgb(0, 183, 255);


}

.btnnav-text {
    font-family: 'galaxy';
    color: aliceblue;
    text-shadow: #00000050;
    transform: rotate(0deg);
    font-size: 58px;

}

.span {
    font-family: 'galaxy';
    color: aliceblue;
    text-shadow: #00000050;
    transform: rotate(0deg);
    font-size: 58px;
    margin-left: 100px;

}


/* ---------------------------------------------------------------- */


/* text jam tanggal */





.clock {
    z-index: 0;
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 10px;
    width: 200px;
    color: aliceblue;
    font-size: 40px;
    box-shadow: 0px 0px 20px 0px rgb(0, 183, 255);
    transition: 1s;
    border-radius: 12px;
    background-image: linear-gradient(to bottom right, rgb(13, 69, 143), rgb(0, 121, 168));
    font-family: "galaxy";
}


.tanggal {
    position: absolute;
    z-index: 0;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    width: auto;
    min-width: 350px;
    transition: 1s;
    color: aliceblue;
    font-size: 40px;
    box-shadow: 0px 0px 20px 0px rgb(0, 183, 255);
    border-radius: 12px;
    background-image: linear-gradient(to bottom right, rgb(13, 69, 143), rgb(0, 121, 168));
    font-family: "galaxy";

}






/* ---------------------------------- */


.btnsmall {
    position: relative;
    height: 130px;
    width: 130px;
    display: block;
    border-radius: 100%;
    border: 2px solid rgba(252, 252, 252, 0.527);
    background-color: rgba(0, 0, 0, 0.459);
    transform: translateZ(2);
    outline: none;
    box-shadow: 0px 0px 10px 0px rgb(0, 183, 255);
    animation-name: btnsmall;
    animation-duration: 1s;



}

.nav {
    position: fixed;
    z-index: 3;
    background: gray;
display: none !important;

    max-width: 100%;
    top: 50%;
    left: 0px;
    margin: auto;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.smallbtn1 {
    position: absolute;
    left: 30px;
    top: -260px;
    transform: translateZ(1);




}

.smallbtn2 {
    position: absolute;
    left: 130px;
    top: -150px;
    transform: translateZ(1);
}

.smallbtn3 {
    position: absolute;
    left: 130px;
    top: -0px;
    transform: translateZ(1);
}

.smallbtn4 {
    position: absolute;
    left: 30px;
    top: 130px;
    transform: translateZ(1);

}